In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.multioutput import MultiOutputClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [15]:
# Load data
data = pd.read_csv("mixedcrop.csv")
data

,N,P,K,temperature,humidity,ph,rainfall,label,crop
0,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,roses
1,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,roses
2,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,roses
3,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,roses
4,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,roses
...,...,...,...,...,...,...,...,...,...
2195,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,black gram
2196,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,black gram
2197,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,black gram
2198,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,black gram
2199,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,black gram

In [16]:
# Split data into features (x) and labels (y)
x = data.iloc[:, :-2]
y = data.iloc[:, [7, 8]]

# Split data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=0)

# Standardize features
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
x_train
x_test
y_test

           label         crop
2192        rice   black gram
1695   mothbeans      sorghum
1737  pigeonpeas  ground nuts
666        apple      millets
567       orange         peas
...          ...          ...
143         jute   green gram
1003       mango        lemon
2088       maize    piegonpea
539       orange        beans
1323      lentil      musturd

[440 rows x 2 columns]

In [17]:

# Encode labels
lab = LabelEncoder()
lab1 = LabelEncoder()
data["label"] = lab.fit_transform(data["label"])
data["crop"] = lab1.fit_transform(data["crop"])
data["label"] 
data["crop"]

0       31
1       31
2       31
3       31
4       31
        ..
2195     3
2196     3
2197     3
2198     3
2199     3
Name: crop, Length: 2200, dtype: int32

In [ ]:

# Create KNeighborsClassifier model
knn = KNeighborsClassifier(n_neighbors=3,metric="manhattan")
model = MultiOutputClassifier(knn)

# Fit the model
model.fit(x_train, y_train)

# Predict on the test set
y_pred = model.predict(x_test)
y_pred

In [19]:

# Calculate accuracy for each output
accuracy_label = accuracy_score(y_test["label"], y_pred[:, 0])
accuracy_crop = accuracy_score(y_test["crop"], y_pred[:, 1])

print("Accuracy for crop1:", accuracy_label)
print("Accuracy for crop2:", accuracy_crop)

Accuracy for crop1: 0.9795454545454545
Accuracy for crop2: 0.4636363636363636

In [ ]:

# Take user input for prediction
a = []
for i in range(7):
    a.append(float(input()))
a = np.array(a)

# Make predictions on user input
prediction = model.predict(a.reshape(1, -1))

c1 = prediction[0, 0]
c2 = prediction[0, 1]

print("Predicted crop1:", c1)
print("Predicted crop2:", c2)

In [1]:
total_acc= 0.9795454545454545+0.4636363636363636

In [2]:
total_acc/2

0.7215909090909091